# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/
ENV/
.venv_cenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pipenv
Pipfile.lock

# PyCharm
.idea/

# VSCode
.vscode/

# Arquivos de log e caches
*.log
*.tmp
*.temp

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribuição / pacotes
build/
dist/
*.egg-info/
.eggs/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Testes
.pytest_cache/

# Outros
*.swp
*.swo
